body {
  font-family: 'Roboto Slab', serif;
  padding: 2em 2em 2em 2em;
  background-color: #055A5B;
}

.bottom_table {
  border: 0px solid white;
}

.copyright_bottom {
  font-size: 1.4em;
  color: #F5F5F5;
}

.description_text {
  font-size: 1.4em;
  text-align: justify;
}

.doors {
  background-color: #B6CAC0;
  font-size: 2em;
  text-align: center;
}

.doors_container {
  padding-top: 0em;
  padding-bottom: 1em;
  height: 15em;
}

.door_text {
  font-size: 2em;
  line-height: 1em;
}

.hint {
  font-size: 1.4em;
  text-align: center;
  padding: 2em;
  color: #F5F5F5;
}

.info {
  font-size: 1em;
  background-color: #E54B4B;
  text-align: center;
  padding: 0.1em 2em 0.1em 2em;
}

.info:hover {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
}

.probability {
  font-size: 1.6em;
  color: black;
  text-align: center;
  background-color: #FACAC0;
}

.probability_arrow {
  font-size: 3em;
  color: #F5F5F5;
}

.probability_text {
  font-size: 1.6em;
  color: black;
  text-align: center;
  background-color: #FACAC0;
}

.reset_button {
  font-size: 1.6em;
  background-color: #E54B4B;
  text-align: center;
}

.reset_button:hover {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
}

.reset_count {
  font-size: 1.6em;
  background-color: #E54B4B;
  text-align: center;
}

.reset_count:hover {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
}

.site_title {
  font-size: 4em;
  text-align: center;
  color: #F5F5F5;
}

td {
  padding: 1em;
}
